@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #c6c3f1;
}

.subHeading {
    font-size: 1 rem;
   color: #0e1123;
   font-weight: bold;
   margin-bottom: 0.5rem ;
   display: block;
}





